#noResults{
    display: none;
}
#noSearchResults{
    display: none;
}

input[type=text] {
    float:right;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 40%;
}