#noResults{
    display: none;
}
#noSearchResults{
    display: none;
}

/*
.main and .pagination used to center the pagination at bottom of page, used
http://stackoverflow.com/questions/4767971/how-do-i-center-float-elements
*/
.main{
    float: left;
    position: relative;
    left: 50%;
}
.pagination{
    float: left;
    position: relative;
    left: -50%;
}

input[type=text] {
    float:right;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 40%;
}